Source: libextutils-typemap-perl
Section: perl
Priority: optional
Maintainer: Piotr Roszatycki <dexter@debian.org>
Build-Depends: debhelper
Build-Depends-Indep: libextutils-parsexs-perl
Standards-Version: 3.9.5
Homepage: https://metacpan.org/release/ExtUtils-Typemap
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/libextutils-typemap-perl.git
Vcs-Git: git://anonscm.debian.org/pkg-perl/packages/libextutils-typemap-perl.git

Package: libextutils-typemap-perl
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
         libextutils-parsexs-perl
Description: ExtUtils::Typemap - Read/Write/Modify Perl/XS typemap files
 ExtUtils::Typemap exists merely as a compatibility wrapper
 around ExtUtils::Typemaps. In a nutshell, ExtUtils::Typemap was renamed to
 ExtUtils::Typemaps because the Typemap directory in lib/ could collide with the
 typemap file on case-insensitive file systems.
